.header li{

    display: inline;
    text-decoration: none;      
    font-size: large;
    font-family: left;
    
    
}

table th ,td{
    border: 1px solid black;
    border-radius: 5px;
    border-collapse: collapse;  
}